@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


@layer base {
html, body, #root { height: 100%; }
body {
@apply bg-white text-brand-dark font-sans;
}
}


/* optional small component helpers */
@layer components {
.wstitch-badge {
@apply text-xs font-semibold uppercase tracking-wider px-2 py-1 rounded-full;
}
}